extends layout

block content
  h1 Add User
  form(action='/users', method='post')
    input(type='text', name="id", placeholder="id")
    br
    input(type='text', name="name", placeholder="name")
    br
    input(type='text', name="age", placeholder="age")
    br
    input(type='submit', value='登録')

  h1= title
  table
    tr
    p ユーザ数: #{users.length}
    tr
      td id
      td name
      td age
    if(users.length > 0)
      each user in users
        tr 
          td #{user.id}
          td #{user.name}
          td #{user.age}
